<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class = "navbar-header">
<a class="navbar-brand" href="#">The GiftBox</a>
    </div>


<ul class="nav navbar-nav navbar-right">
        <li><p><%= link_to('Home',login_path, class: "btn btn-primary")%></p></li>
        <li><p><%= link_to('Logout',logout_path, method: :delete,  class: "btn btn-primary")%></p></li>
  </ul>
</nav>